<header class='header'>
    <h1 class="header-heading">
        <a href="{% url "agenda:index" %}" class="header-link">OpLibrary</a>
    </h1>
    <nav class="menu">
        <ul class="menu-list">
            {% if user.is_authenticated %}
                <li class="menu-item">
                    <a href="{% url "library:create" %}" class="menu-link">Create</a>
                </li>
                <li class="menu-item">
                    <a href="{% url "library:profile" user.pk %}" class="menu-link">Profile</a>
                </li>
            {% else %}
                <li class="menu-item">
                    <a href="{% url "library:login" %}" class="menu-link">Login</a>
                </li>
                <li class="menu-item">
                    <a href="{% url "library:register" %}" class="menu-link">Register</a>
                </li>
            {% endif %}

        </ul>
    </nav>
    <div class="search">
        <form action="{% url 'agenda:search' %}" method="GET">
            <input type="text" 
                   class="search-input" 
                   placeholder='Search' 
                   id="search"
                   name='q'
                   value = "{{ request.GET.q.strip }}">
        </form>
    </div>
</header>